:root {
  --grid-size: 600px;
}

body, input, textarea, button {
  box-sizing: border-box;
  font-family: 'Creepster', cursive;
}

header {
  text-align: center;
}

header h1 {
  font-size: 42pt;
  margin: 10px 0;
}

p {
  margin: 0;
  font-size: 16pt;
}

body {
  text-align: center;
}

#sizeBtn {
  margin: 15px;
}

.cell {
  flex: 1 1 1;
}

btn.active {
  color: red;
}

#container {
  width: var(--grid-size);
  height: var(--grid-size);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}