:root {
  --grid-width: 600px;
  --cell-gap: 20x;
}

body, input, textarea, button {
  box-sizing: border-box;
}

.cell {
  flex: 1 1 1;
}

.cell:hover {
  background-color: black;
}

#container {
  width: var(--grid-width);
  height: var(--grid-width);
  display: flex;
  flex-wrap: wrap;
}