:root {
  --grid-size: 600px;
}

body, input, textarea, button {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

#sizeBtn {
  margin: 15px;
}

.cell {
  flex: 1 1 1;
}

#container {
  width: var(--grid-size);
  height: var(--grid-size);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}